doctype
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= "Главная страница"
    link(rel="stylesheet", href="")
  body
    header
      ul
        li item1
        li item2
        li item3
        li iterm4
        li item5
        li item6
        li item7
        img(src="", alt="hello")
    footer
